.mainLevel14 {
  max-width: 400px;
  margin: 0 auto;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 30px;
}
.mainLevel14 .h3Level14 {
  color: var(--primary-color);
  font-weight: 800;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}
.mainLevel14 .answers {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mainLevel14 .answer {
  height: 60px;
  margin-bottom: 5px;
}
.mainLevel14 .answer::hover {
  cursor: pointer;
}

.Level14Icon {
  width: 100%;
}
